body {
  margin: 10px 0;
}

.container {
  height: 200px;
  background-color: #ffc0cb;
}

.container > [class*="col-"] {
  border: 1px solid black;
}

[class*="col-"] {
  height: 100%;
  line-height: 200px;
  text-align: center;
}
/* Ho dovuto creare uno span inserendo vertical align middle e line height normal perchè dando solamente una line height di 200px nel momento in cui il testo andava a capo la seconda riga saltava di 200px, mentre facendo così il testo rimane sulla stessa riga */
[class*="col-"] span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.container > .col-6:nth-child(1),
.container > .col-6:nth-child(2) {
  padding: 5px;
}
.container .col-6 > [class*="col-"] {
  background-color: #f07f80;
  border: 1px solid white;
}
